body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none ;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url("./../img/bg/hero.jpg") center top no-repeat, url("./../img/bg/bottom-pic.jpg") center bottom 300px no-repeat;
}

.container{
  margin: 0 auto;
  width: 1140px;
}

.header {
  height: 100px;
  position: relative;
  margin-bottom: 110px;
}

.logo {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
}

.menu {
  position: absolute;
  top: 30px;
  left: 160px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item--active .menu__link {
  color: #f5170e;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #f5170e;
}

.contacts {
  position: absolute;
  top: 15px;
  right: 0;
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 6px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
}

.page-content {
  position: relative;
  margin: 0 auto;
  width: 1140px;
}

.headline__text-section {
  width: 510px;
  margin-bottom: 250px

}
.headline__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 28px;
}

.headline__subtitle {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 33px;
}

.btn {
  background: #f5170e;
  border-radius: 35px;
  border-width: 0;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #da0100;
}

.section {
  margin-bottom: 130px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.section__title-icon {
  margin-left: 5px;
}

.offers__item {
  min-height: 440px;
  vertical-align: top;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-right: 25px;
  width: 360px;
  color: #000000;
  position: relative;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  width: 360px;
  height: 140px;
  overflow: hidden;
  margin-bottom: 0;
}

.offers__header-img {
  width: 100%;
  margin: -40px 0 0 0;
}
.offers__content {
  padding: 25px 25px;

}
.offers__title {
  font-size: 24px;
  font-weight: bold;
}

.iconed-title{
  display: inline-block;
  vertical-align: top;
  width: 129px;
  margin-right: 21px;
  white-space: nowrap;
}

.iconed-title:last-child{
 margin-right: 0px;
}

.iconed-title__text{
  font-size: 16px;
  display: inline;
  position: absolute;
  margin-top: 3px;
  margin-left: 9px;
  text-align: left;
  color: #666666;
  
}





}

.offers__info-content:last-child {
  margin-right: 0px;
  white-space: nowrap;
}

.offers__btn {
background: #fff;
border: 1px solid red;
border-radius: 35px;
border-width: 1px;
padding: 15px 20px;
color: red;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
}

.offers__btn:hover {
background: #da0100;
color: #fff;
}

.section-news {
  margin-bottom: 50px;
}

.news__item {
  width: 555px;
  height: 390px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.news__item:last-child {
  margin-right: 0;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 5px;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 170px;
}
.news__date {
  font-size: 14px;
  margin-bottom: 5px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.news__text {
  font-size: 16px;
  margin-bottom: 5px;
}
.news {
  margin-bottom: 30px;
}

.paginator {
  text-align: center;
  margin-bottom: 150px;
}

.paginator__display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}
.paginator__display {
  margin-right: 26px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}
.paginator__item--active .paginator__link {
  background: white;
  color: red;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.section-about {
  margin-bottom: 50px;
}
.about::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 420px;
  background: url("./../img/decor/gates.jpg") center center / cover no-repeat;
}

.about__desk {
  display: inline-block;
  position: relative;
  padding: 10px 0 10px 20px;
  width: 780px;
  height: 460px;
  margin-left: -140px;
  margin-top: 110px;
  overflow: hidden;
}

.about__content {
  position: absolute;
  left: 90px;
  right: 90px;
  bottom: 0;
  padding: 90px 10px;
}

.about__desk-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__desk-title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
}

.about__desk-text {
  margin-bottom: 45px;
}

.about__aside-info  p {
  margin-bottom: 20px;
}

.about__aside-info  p:last-child {
  margin-bottom: 0;
}

.footer-container__content {
  border-top: 1px solid #1a3039;
}

.footer {
  height: 150px;
  position: relative;
  margin: 0 auto;
  width: 1140px;
}

.footer .menu {
  position: absolute;
  top: 32px;
  left: 165px;
}

.footer .contacts {
    position: absolute;
    top: 15px;
    right: 0;
}

.social {
  position: absolute;
  top:28px;
  right: 270px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.social__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item--icon--telegram .social__link {
  background-image: url("./../img/icons/socials/telegram.png");
}
.social__item--icon--telegram .social__link:hover {
  background-image: url("./../img/icons/socials/telegram-hover.png");
}
.social__item--icon--vk .social__link {
  background-image: url("./../img/icons/socials/vkontakte.png");
}
.social__item--icon--vk .social__link:hover {
  background-image: url("./../img/icons/socials/vkontakte-hover.png");
}
.social__item--icon--fb .social__link {
  background-image: url("./../img/icons/socials/facebook.png");
}
.social__item--icon--fb .social__link:hover {
  background-image: url("./../img/icons/socials/facebook-hover.png");
}
.social__item--icon--inst .social__link {
  background-image: url("./../img/icons/socials/instagram.png");
}
.social__item--icon--inst .social__link:hover {
  background-image: url("./../img/icons/socials/instagram-hover.png");
}